In [1]:
from api_executer import ApiExecuter
from api_requester import ApiRequester
from api_parser import ApiParser
from api_saver import ApiSaver
from FUNCTIONS import get_current_location

In [ ]:
location = get_current_location()
if location:
    latitude, longitude = location
    print(f'Current Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Failed to determine current location.')

In [2]:
from route_df import RouteDF
routeDF = RouteDF()

from api_route import ApiRoute
current_position = {'longitude': 130.844161,
                    'latitude': -12.456694}
final_position = {'longitude': 130.890346,
                  'latitude': -12.432393}
delta_spacing = 2000.0 # in meters
number_sites = 2

route = ApiRoute(routeDF.route_data)

# route_df = route.cut_route_data(current_position)
route_df = route.cut_route_data(current_position, number_sites=number_sites, delta_spacing=delta_spacing, print_is_requested=True)
# route_df = route.cut_route_data(current_position=current_position, final_position=final_position, number_sites=number_sites)

Nearest point index: 8
    longitude   latitude  altitudeSmoothed  inclinationSmoothed  cumDistance  \
0  130.844161 -12.456694         16.350559            -0.024998   407.095561
1  130.849361 -12.440116          8.870473             0.009980  2407.095561

   maxSpeed      theta  cumDistanceCut
0        50  44.136411             0.0
1        80  17.935500          2000.0

In [3]:
api_parser = ApiParser()
api_requester = ApiRequester(parser=api_parser)
api_executer = ApiExecuter(requester=api_requester)

sites_df = api_requester.forecast_sites

Response status from siteinfo: OK.
Current sites' info has been retrieved.
         name  longitude  latitude  altitude
site_id
585397     0    130.844  -12.4567        32
585398     1    130.849  -12.4401        16

In [ ]:
api_requester.get_site_info(print_is_requested=True)

In [ ]:
api_executer.add_sites(route_df, print_is_requested=True)

In [ ]:
# api_requester.get_site_delete(585394, print_is_requested=True)
api_executer.delete_all_sites()

In [ ]:
# position = {
#     'latitude': -13.0,
#     'longitude': 134.0
# }
# api_requester.get_site_edit(585396, True, name="aa")
# api_requester.get_site_edit(585395, True, position=position)
# api_requester.get_site_edit(585396, True, name="df", position=position)

In [1]:
# forecast_df = api_requester.get_solar_forecast()
forecast_df = api_requester.get_solar_forecast_cloudmove()
print(forecast_df)

NameError: name 'api_requester' is not defined

In [7]:
api_saver = ApiSaver()

api_saver._data_restructure(route_df, sites_df, forecast_df)

                                  gk  gh_max  gh      tt    ff  rr      dd  \
cumDistance time
407.095561  2023-09-03 18:00:00  0.0     0.0   0  21.200  6.00   0   24.00
            2023-09-03 18:15:00  0.0     0.0   0  21.125  5.75   0   35.25
            2023-09-03 18:30:00  0.0     0.0   0  21.050  5.50   0   46.50
            2023-09-03 18:45:00  0.0     0.0   0  20.975  5.25   0   57.75
            2023-09-03 19:00:00  0.0     0.0   0  20.900  5.00   0   69.00
...                              ...     ...  ..     ...   ...  ..     ...
2407.095561 2023-09-12 16:00:00  0.0     0.0   0  24.900  8.00   0  279.00
            2023-09-12 16:15:00  0.0     0.0   0  24.800  8.00   0  286.50
            2023-09-12 16:30:00  0.0     0.0   0  24.700  8.00   0  294.00
            2023-09-12 16:45:00  0.0     0.0   0  24.600  8.00   0  301.50
            2023-09-12 17:00:00  0.0     0.0   0  24.500  8.00   0  309.00

                                    rh     fx  tcc      qff  sy   dh   bh  \
cumDistance time
407.095561  2023-09-03 18:00:00  88.00   9.00  1.0  1013.30   1  0.0  0.0
            2023-09-03 18:15:00  88.25   8.75  1.0  1013.35   1  0.0  0.0
            2023-09-03 18:30:00  88.50   8.50  1.0  1013.40   1  0.0  0.0
            2023-09-03 18:45:00  88.75   8.25  1.0  1013.45   1  0.0  0.0
            2023-09-03 19:00:00  89.00   8.00  1.0  1013.50   1  0.0  0.0
...                                ...    ...  ...      ...  ..  ...  ...
2407.095561 2023-09-12 16:00:00  78.00  14.00  3.0  1012.70   2  0.0  0.0
            2023-09-12 16:15:00  78.25  13.75  3.0  1012.60   2  0.0  0.0
            2023-09-12 16:30:00  78.50  13.50  3.0  1012.50   2  0.0  0.0
            2023-09-12 16:45:00  78.75  13.25  3.0  1012.40   2  0.0  0.0
            2023-09-12 17:00:00  79.00  13.00  3.0  1012.30   2  0.0  0.0

                                 dni    e
cumDistance time
407.095561  2023-09-03 18:00:00  0.0  0.0
            2023-09-03 18:15:00  0.0  0.0
            2023-09-03 18:30:00  0.0  0.0
            2023-09-03 18:45:00  0.0  0.0
            2023-09-03 19:00:00  0.0  0.0
...                              ...  ...
2407.095561 2023-09-12 16:00:00  0.0  0.0
            2023-09-12 16:15:00  0.0  0.0
            2023-09-12 16:30:00  0.0  0.0
            2023-09-12 16:45:00  0.0  0.0
            2023-09-12 17:00:00  0.0  0.0

[1722 rows x 16 columns]

In [8]:
api_saver.save_raw_data()