In [1]:
from api_executer import ApiExecuter
from api_requester import ApiRequester
from api_parser import ApiParser
from api_saver import ApiSaver
from FUNCTIONS import get_current_location

In [ ]:
location = get_current_location()
if location:
    latitude, longitude = location
    print(f'Current Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Failed to determine current location.')

In [2]:
from route_df import RouteDF
routeDF = RouteDF()

from api_route import ApiRoute
current_position = {'longitude': 130.844161,
                    'latitude': -12.456694}
final_position = {'longitude': 130.890346,
                  'latitude': -12.432393}
delta_spacing = 2000.0 # in meters
number_sites = 2

route = ApiRoute(routeDF.route_data)

# route_df = route.cut_route_data(current_position)
route_df = route.cut_route_data(current_position, number_sites=number_sites, delta_spacing=delta_spacing, print_is_requested=True)
# route_df = route.cut_route_data(current_position=current_position, final_position=final_position, number_sites=number_sites)

Nearest point index: 8
    longitude   latitude  altitudeSmoothed  inclinationSmoothed  cumDistance  \
0  130.844161 -12.456694         16.350559            -0.024998   407.095561
1  130.849361 -12.440116          8.870473             0.009980  2407.095561

   maxSpeed      theta  cumDistanceCut
0        50  44.136411             0.0
1        80  17.935500          2000.0

In [3]:
api_parser = ApiParser()
api_requester = ApiRequester(parser=api_parser)
api_executer = ApiExecuter(requester=api_requester)

sites_df = api_requester.forecast_sites

Response status from siteinfo: OK.
Current sites' info has been retrieved.
         name  longitude  latitude  altitude
site_id
585397     0    130.844  -12.4567        32
585398     1    130.849  -12.4401        16

In [ ]:
api_requester.get_site_info(print_is_requested=True)

In [ ]:
api_executer.add_sites(route_df, print_is_requested=True)

In [ ]:
# api_requester.get_site_delete(585394, print_is_requested=True)
api_executer.delete_all_sites()

In [ ]:
# position = {
#     'latitude': -13.0,
#     'longitude': 134.0
# }
# api_requester.get_site_edit(585396, True, name="aa")
# api_requester.get_site_edit(585395, True, position=position)
# api_requester.get_site_edit(585396, True, name="df", position=position)

In [4]:
forecast_df = api_requester.get_solar_forecast()
# forecast_df = api_requester.get_solar_forecast_cloudmove()
print(forecast_df)

Response status from getforecast: OK.
Solar forecast have been retrieved.
                                gk      gh_max   gh      tt    ff  rr     dd  \
site_id time
585397  2023-09-04 07:00:00  493.0  532.004950  493  29.700  20.0   0  351.0
        2023-09-04 07:15:00  436.0  469.332830  436  29.400  19.5   0  351.0
        2023-09-04 07:30:00  377.0  404.880943  377  29.100  19.0   0  351.0
        2023-09-04 07:45:00  317.0  339.350468  317  28.800  18.5   0  351.0
        2023-09-04 08:00:00  256.0  273.625485  256  28.500  18.0   0  351.0
...                            ...         ...  ...     ...   ...  ..    ...
585398  2023-09-13 05:00:00  829.0  935.314215  829  32.200  22.0   0  338.0
        2023-09-13 05:15:00  801.0  900.036789  801  32.125  22.5   0  339.0
        2023-09-13 05:30:00  769.0  860.255877  769  32.050  23.0   0  340.0
        2023-09-13 05:45:00  733.0  816.151568  733  31.975  23.5   0  341.0
        2023-09-13 06:00:00  693.0  767.937188  693  31.900  24.0   0  342.0

                                rh     fx  tcc      qff  sy          dh  \
site_id time
585397  2023-09-04 07:00:00  36.00  33.00  1.0  1010.40   1   89.192318
        2023-09-04 07:15:00  37.25  32.00  1.0  1010.40   1   80.420544
        2023-09-04 07:30:00  38.50  31.00  1.0  1010.40   1   73.747661
        2023-09-04 07:45:00  39.75  30.00  1.0  1010.40   1   68.874585
        2023-09-04 08:00:00  41.00  29.00  1.0  1010.40   1   60.902119
...                            ...    ...  ...      ...  ..         ...
585398  2023-09-13 05:00:00  32.00  36.00  2.0  1011.10   1  249.597148
        2023-09-13 05:15:00  33.00  36.25  2.0  1010.95   1  228.237569
        2023-09-13 05:30:00  34.00  36.50  2.0  1010.80   1  205.869602
        2023-09-13 05:45:00  35.00  36.75  2.0  1010.65   1  183.809356
        2023-09-13 06:00:00  36.00  37.00  2.0  1010.50   1  162.901132

                                     bh         dni       e
site_id time
585397  2023-09-04 07:00:00  403.807682  751.424777  112.25
        2023-09-04 07:15:00  355.579456  733.384543  100.50
        2023-09-04 07:30:00  303.252339  705.064780   88.00
        2023-09-04 07:45:00  248.125415  664.504696   75.25
        2023-09-04 08:00:00  195.097881  619.416874   61.50
...                                 ...         ...     ...
585398  2023-09-13 05:00:00  579.402852  668.841662  174.00
        2023-09-13 05:15:00  572.762431  683.926518  169.00
        2023-09-13 05:30:00  563.130398  699.549174  163.50
        2023-09-13 05:45:00  549.190644  714.159682  157.00
        2023-09-13 06:00:00  530.098868  726.508676  149.75

[1722 rows x 16 columns]

In [6]:
api_saver = ApiSaver()

# api_saver._data_restructure(route_df, sites_df, forecast_df)
raw_data_forecast = api_saver.save_raw_data(route_df, sites_df, forecast_df)

                                    gk      gh_max   gh      tt    ff  rr  \
cumDistance time
407.095561  2023-09-04 07:00:00  493.0  532.004950  493  29.700  20.0   0
            2023-09-04 07:15:00  436.0  469.332830  436  29.400  19.5   0
            2023-09-04 07:30:00  377.0  404.880943  377  29.100  19.0   0
            2023-09-04 07:45:00  317.0  339.350468  317  28.800  18.5   0
            2023-09-04 08:00:00  256.0  273.625485  256  28.500  18.0   0
...                                ...         ...  ...     ...   ...  ..
2407.095561 2023-09-13 05:00:00  829.0  935.314215  829  32.200  22.0   0
            2023-09-13 05:15:00  801.0  900.036789  801  32.125  22.5   0
            2023-09-13 05:30:00  769.0  860.255877  769  32.050  23.0   0
            2023-09-13 05:45:00  733.0  816.151568  733  31.975  23.5   0
            2023-09-13 06:00:00  693.0  767.937188  693  31.900  24.0   0

                                    dd     rh     fx  tcc      qff  sy  \
cumDistance time
407.095561  2023-09-04 07:00:00  351.0  36.00  33.00  1.0  1010.40   1
            2023-09-04 07:15:00  351.0  37.25  32.00  1.0  1010.40   1
            2023-09-04 07:30:00  351.0  38.50  31.00  1.0  1010.40   1
            2023-09-04 07:45:00  351.0  39.75  30.00  1.0  1010.40   1
            2023-09-04 08:00:00  351.0  41.00  29.00  1.0  1010.40   1
...                                ...    ...    ...  ...      ...  ..
2407.095561 2023-09-13 05:00:00  338.0  32.00  36.00  2.0  1011.10   1
            2023-09-13 05:15:00  339.0  33.00  36.25  2.0  1010.95   1
            2023-09-13 05:30:00  340.0  34.00  36.50  2.0  1010.80   1
            2023-09-13 05:45:00  341.0  35.00  36.75  2.0  1010.65   1
            2023-09-13 06:00:00  342.0  36.00  37.00  2.0  1010.50   1

                                         dh          bh         dni       e
cumDistance time
407.095561  2023-09-04 07:00:00   89.192318  403.807682  751.424777  112.25
            2023-09-04 07:15:00   80.420544  355.579456  733.384543  100.50
            2023-09-04 07:30:00   73.747661  303.252339  705.064780   88.00
            2023-09-04 07:45:00   68.874585  248.125415  664.504696   75.25
            2023-09-04 08:00:00   60.902119  195.097881  619.416874   61.50
...                                     ...         ...         ...     ...
2407.095561 2023-09-13 05:00:00  249.597148  579.402852  668.841662  174.00
            2023-09-13 05:15:00  228.237569  572.762431  683.926518  169.00
            2023-09-13 05:30:00  205.869602  563.130398  699.549174  163.50
            2023-09-13 05:45:00  183.809356  549.190644  714.159682  157.00
            2023-09-13 06:00:00  162.901132  530.098868  726.508676  149.75

[1722 rows x 16 columns]