In [1]:
import pandas as pd
import numpy as np

from route import Route
# from weather_forecast import WeatherForecast
# from api_data import ApiData
from api_executer import ApiExecuter
from api_requester import ApiRequester
from api_parser import ApiParser
from FUNCTIONS import get_current_location

In [2]:
location = get_current_location()
if location:
    latitude, longitude = location
    print(f'Current Latitude: {latitude}, Longitude: {longitude}')
else:
    print('Failed to determine current location.')

Current Latitude: 44.4048, Longitude: 8.9444

In [3]:
current_position = {'longitude': 130.868566,
                    'latitude': -12.432466}
delta_spacing = 100000.0 # in meters
number_sites = 3
route = Route()
# route.get_final_data(current_position)
# route.get_final_data(current_position, delta_spacing=delta_spacing)
dataframe = route.get_route_data(current_position, number_sites=number_sites)

    longitude   latitude    altitude   cumDistance  gradient  maxSpeed
0  130.868566 -12.432466   11.500000  0.000000e+00  0.024056       100
1  133.803762 -23.861845  557.690488  1.513018e+06  0.004450       130
2  138.608989 -34.935232   53.250000  3.026035e+06 -0.017856        50

In [4]:
api_parser = ApiParser()
api_requester = ApiRequester(parser=api_parser)
api_executer = ApiExecuter(requester=api_requester)

Response status from siteinfo: OK.
Current sites' info has been retrieved.
   name site_id  longitude  latitude altitude
0   aa  584978    130.869  -12.4325       18
1    1  584979    134.000  -13.0000      557
2   df  584980    134.000  -13.0000       52

In [5]:
api_executer.add_sites(dataframe, print_is_requested=False)

Response status from siteadd: OK.
Response status from siteadd: OK.
Response status from siteadd: OK.

In [6]:
position = {
    'latitude': -13.0,
    'longitude': 134.0
}
api_requester.get_site_edit(584978, True, name="aa")
api_requester.get_site_edit(584979, True, position=position)
api_requester.get_site_edit(584980, True, name="df", position=position)

Site with ID 584978 has been edited: New name: aa.
Site with ID 584979 has been edited: New position: {'latitude': -13.0, 'longitude': 134.0}.
Site with ID 584980 has been edited: New name: df. New position: {'latitude': -13.0, 'longitude': 134.0}.

In [7]:
api_requester.get_site_info()

Response status from siteinfo: OK.
Site information have been retrieved:
 {
  "status": "OK",
  "statuscode": 200,
  "payload": {
    "solarforecast": {
      "sites": {
        "584978": {
          "altitude": 18,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584978,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:14",
          "latitude": -12.4325,
          "longitude": 130.869,
          "name": "aa",
          "registered": "2023-08-25 08:42:36",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584979": {
          "altitude": 557,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584979,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:14",
          "latitude": -13,
          "longitude": 134,
          "name": "1",
          "registered": "2023-08-25 08:42:37",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584980": {
          "altitude": 52,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584980,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:15",
          "latitude": -13,
          "longitude": 134,
          "name": "df",
          "registered": "2023-08-25 08:42:38",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584981": {
          "altitude": 18,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584981,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:12",
          "latitude": -12.4325,
          "longitude": 130.869,
          "name": "0",
          "registered": "2023-08-25 08:49:12",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584982": {
          "altitude": 557,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584982,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:13",
          "latitude": -23.8618,
          "longitude": 133.804,
          "name": "1",
          "registered": "2023-08-25 08:49:13",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584983": {
          "altitude": 52,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584983,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:13",
          "latitude": -34.9352,
          "longitude": 138.609,
          "name": "2",
          "registered": "2023-08-25 08:49:13",
          "timezone": "Australia/Adelaide",
          "utc_offset": "UTC+9.5"
        }
      },
      "user": {
        "id": 393,
        "name": "aCentauri"
      }
    }
  }
}

  name site_id  longitude  latitude altitude
0   aa  584978    130.869  -12.4325       18
1    1  584979    134.000  -13.0000      557
2   df  584980    134.000  -13.0000       52
3    0  584981    130.869  -12.4325       18
4    1  584982    133.804  -23.8618      557
5    2  584983    138.609  -34.9352       52

In [8]:
# api_executer.delete_all_sites()

In [9]:
api_requester.get_site_info()

Response status from siteinfo: OK.
Site information have been retrieved:
 {
  "status": "OK",
  "statuscode": 200,
  "payload": {
    "solarforecast": {
      "sites": {
        "584978": {
          "altitude": 18,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584978,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:14",
          "latitude": -12.4325,
          "longitude": 130.869,
          "name": "aa",
          "registered": "2023-08-25 08:42:36",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584979": {
          "altitude": 557,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584979,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:14",
          "latitude": -13,
          "longitude": 134,
          "name": "1",
          "registered": "2023-08-25 08:42:37",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584980": {
          "altitude": 52,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584980,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:15",
          "latitude": -13,
          "longitude": 134,
          "name": "df",
          "registered": "2023-08-25 08:42:38",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584981": {
          "altitude": 18,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584981,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:12",
          "latitude": -12.4325,
          "longitude": 130.869,
          "name": "0",
          "registered": "2023-08-25 08:49:12",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584982": {
          "altitude": 557,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584982,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:13",
          "latitude": -23.8618,
          "longitude": 133.804,
          "name": "1",
          "registered": "2023-08-25 08:49:13",
          "timezone": "Australia/Darwin",
          "utc_offset": "UTC+9.5"
        },
        "584983": {
          "altitude": 52,
          "azimuth": 0,
          "cddctout": null,
          "hddctin": null,
          "hddctout": null,
          "horizon": [
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0
          ],
          "id": 584983,
          "inclination": 0,
          "last_update": "2023-08-25 08:49:13",
          "latitude": -34.9352,
          "longitude": 138.609,
          "name": "2",
          "registered": "2023-08-25 08:49:13",
          "timezone": "Australia/Adelaide",
          "utc_offset": "UTC+9.5"
        }
      },
      "user": {
        "id": 393,
        "name": "aCentauri"
      }
    }
  }
}

  name site_id  longitude  latitude altitude
0   aa  584978    130.869  -12.4325       18
1    1  584979    134.000  -13.0000      557
2   df  584980    134.000  -13.0000       52
3    0  584981    130.869  -12.4325       18
4    1  584982    133.804  -23.8618      557
5    2  584983    138.609  -34.9352       52

In [10]:
api_requester.get_solar_forecast()

TypeError: ApiParser.parse_solar_forecast_response() missing 1 required positional argument: 'function_tag'

In [ ]:
import pandas as pd

# Create a MultiIndex for the DataFrame
index = pd.MultiIndex.from_product([['space1', 'space2'], ['time1', 'time2'], ['variable1', 'variable2']],
                                   names=['space', 'time', 'variable'])

# Create an empty DataFrame with the MultiIndex
df_3d = pd.DataFrame(index=index, columns=['data'])

# Fill the DataFrame with values
df_3d.loc[('space1', 'time1', 'variable1')] = 1
df_3d.loc[('space1', 'time1', 'variable2')] = 2
df_3d.loc[('space1', 'time2', 'variable1')] = 3
df_3d.loc[('space1', 'time2', 'variable2')] = 4
df_3d.loc[('space2', 'time1', 'variable1')] = 5
df_3d.loc[('space2', 'time1', 'variable2')] = 6
df_3d.loc[('space2', 'time2', 'variable1')] = 7
df_3d.loc[('space2', 'time2', 'variable2')] = 8

print(df_3d)

                       data
space  time  variable
space1 time1 variable1    1
             variable2    2
       time2 variable1    3
             variable2    4
space2 time1 variable1    5
             variable2    6
       time2 variable1    7
             variable2    8
MultiIndex([], names=['space', 'time', 'variable'])